.contact {
    background: $big-stone;
    color: $sky;
    padding-bottom: 8rem;
    padding: 16px 8px 60px;


    &__title {
        @include title;
        border-bottom: 1px solid;
        padding: 4rem 0 1rem;
     
    }

    &__description {
        @include paragraph;
        color: $sky;
        //margin: 0 8px;
    }

    .social__content {
        font-size: 1.25rem;
        margin: 0 8rem;
        display:flex;
        justify-content: space-between;
        //align-items: center;

        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            align-content: space-around;
            transform: translateX(-4rem);
            
            
        }
    }
    &__me  {
        //color: $sky;
        color:$sky;
        text-decoration: none;
        margin: 8px;

        
    
         &:hover {
            
           text-decoration: underline;
        }


    }
        }

    

        


    
    


