.projects {
    background: linear-gradient(126deg, rgba(234, 244, 255, 1) 0%, rgba(218, 220, 223, 1) 100%);
    padding: 8rem 8px;
    @media (max-width: $mobile) {
       // padding: 5rem 8px;
        
    }


    &__title {
        @include title;
        max-width: $max-width;
        margin: 0 auto;
    }

    &__description {
        @include paragraph;
        padding-left: 8px;
    }
}

.cards {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px,1fr));
    gap: .5rem;

    // @media (max-width:$mobile) {
    //     margin: 0 auto;
        
    // }
    
    

    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    
    
    //overflow: scroll;

    &__icon {
        padding: 2rem 2rem 1rem;
    }

    &__header {
        padding-left: 2rem;
        
    }

    &__paragraph {
        padding: 0.5rem 2rem 2.5rem;
    }

    &__footer {
        height: 4rem;
        background: #f5f7fa;
        padding: 1rem 3rem;
        text-align: right;

        
        
        

        &-link {
            color: $blue;
            margin-left: 50px;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.25rem;
            text-decoration: none;
            display: inline;
            position: relative;
            
            & + & {

                &::after {
                    content: ' ';
                    width: 2px;
                    height: 2rem;
                    background: #CBD2D9;
                    position: absolute;
                    left: -2rem;
                    pointer-events: none;
                }
            }
           
    
                &::before {
                content:'';
                display: inline-block;
                
                padding: 12px;
                margin-right: 4px;
                transform: translateY(6px);
                width: 1.5rem;
                height: 1.5rem;
                background: url('/assets/img/demo.svg');
            }

            &--source::before {
                background: url('/assets/img/code_icon.svg');

            }

            &:hover {
                border-bottom: 1px solid $blue;
                font-style: italic;
                
            }

               
                
                
            }
        }
    }

