.skills__content {
  max-width: $max-width;
  margin: 0 auto;
  padding-bottom: 8rem;
  

  &__title {
    @include title;
    margin-bottom: 8rem;
    border-bottom: 1px solid $big-stone;
    
    
  }
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    margin: .5rem 8rem ;
    background: linear-gradient(126deg, rgba(234,244,255,1) 0%, rgba(218,220,223,1) 100%);
    
    

  &__subtitle {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
  }


  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: normal;
    font-size: 18px;
    line-height: 3.5rem;
    padding: 1rem;
    list-style-image: url('/assets/img/square.svg');
    column-gap: 1.5rem;

    
  }

  

  

}




